# Ambientes e Segredos (NUNCA commitar arquivos .env)
.env
.env.*
!.env.example
*.env

# Dependências
node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# Builds e Distribuições
dist/
dist-ssr/
build/
*.egg-info/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores e Sistema Operacional
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
